#{extends 'Secure/layout.html' /}
    
    #{form @authenticate(),class:'form-signin'}
    <h3 class="muted">Compta NG</h3>
    #{if flash.error}
    <p class="error">
        &{flash.error}
    </p>
    #{/if}
    #{if flash.success}
    <p class="success">
        &{flash.success}
    </p>
    #{/if}

    <input type="text" class="input-block-level" name="username" id="username" value="${flash.username}" placeholder="nom d'utilisateur" />
    <input type="password" class="input-block-level" name="password" id="password" value="" placeholder="mot de passe" />
    <button class="btn btn-large btn-primary" type="submit" value="&{'secure.signin'}">Se connecter</button>
    #{/form}

